configuration {
    modi: "drun,run,window,cmds:~/.config/rofi/scripts/commands.sh";
    font: "JetBrainsMono Nerd Font 12";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "Приложения";
    display-run: "Выполнить";
    display-window: "Окна";
    display-cmds: "Мои команды";
    sidebar-mode: true;
    
    click-to-exit: true;
    steal-focus: true;
    drun {
        parse-user:   true;
        parse-system: true;
    }
    window {
        close-on-delete: false;
        active-on-launch: true;
    }
}

@theme "~/.config/rofi/command-theme"
