* {
    bg0:    #1a1b26F2;
    bg1:    #24283b;
    bg2:    #414868;
    fg0:    #c0caf5;
    fg1:    #a9b1d6;
    accent: #bb9af7;
    urgent: #f7768e;
    
    background-color: transparent;
    text-color: @fg0;
}

window {
    background-color: @bg0;
    border: 2px;
    border-color: @accent;
    border-radius: 10px;
    width: 500px;
}

mainbox {
    background-color: transparent;
    children: [inputbar, listview];
    padding: 8px;
}

inputbar {
    children: [prompt, entry];
    background-color: @bg1;
    border-radius: 6px;
    padding: 6px 8px;
    margin: 0 0 8px 0;
}

prompt {
    background-color: transparent;
    text-color: @accent;
    padding: 0 12px 0 0;
    font: "JetBrainsMono Nerd Font 11";
}

entry {
    background-color: transparent;
    placeholder: "Поиск команд...";
    placeholder-color: @bg2;
    font: "JetBrainsMono Nerd Font 11";
}

listview {
    background-color: transparent;
    columns: 1;
    lines: 6;
    spacing: 4px;
    cycle: false;
    dynamic: true;
    layout: vertical;
}

element {
    background-color: @bg1;
    border-radius: 6px;
    padding: 6px 8px;
}

element selected {
    background-color: @bg2;
    text-color: @accent;
}

element-text {
    background-color: transparent;
    text-color: inherit;
    vertical-align: 0.5;
    font: "JetBrainsMono Nerd Font 11";
}